{% extends "base/base.html" %}
{% load static %}
{% load socialaccount %}

{% block extratitle %} Login {% endblock %}

{% block includestylesheets %}
  <link rel="stylesheet" href={% static "css/app/style.css" %}>
{% endblock %}

{% block body %}
<div class="login-container">
  <div id="particles-js"></div>
  <div id="github-login" class="panel">
    <div class="icon-github"></div>
    <a href="{% provider_login_url "github" process="connect" %}">
      <div class="login-btn">
        <span>Login via Github</span>
      </div>
    </a>
  </div>
</div>
{% endblock %}

{% block includejs %}
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% endblock %}
{% block js %}
$(document).ready(function() {
  particlesJS.load('particles-js', '{% static "js/particles.json" %}', function() {
    console.log('callback - particles.js config loaded');
  });
});
{% endblock %}
