
body
  margin: 0

a
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent
  text-decoration: none


.icon-github
  background-image: url('../../img/github/github-mark-120px-plus.png')
  height: 120px
  width: 120px
