{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block extratitle %}{% trans "Dashboard" %}{% endblock %}

{% block body %}
<div id="wrapper">
  <div class="sidebar">
    <div class="brand">
      <a href="index.html"><img src="assets/img/logo.png" alt="Notifications Logo" class="img-responsive logo"></a>
    </div>
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
					<li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>Elements</span></a></li>
					<li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="main">
    <nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
            <span class="sr-only">Toggle Navigation</span>
					  <i class="fa fa-bars icon-nav"></i>
					</button>
				</div>
				<div id="navbar-menu" class="navbar-collapse collapse">
					<form class="navbar-form navbar-left hidden-xs">
						<div class="input-group">
							<input type="text" value="" class="form-control" placeholder="Search dashboard...">
							<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
							  <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Sayan</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
    <div class="main-content">
      <div class="container-fluid">
        <div class="panel panel-headline">
					<div class="panel-heading">
						<h3 class="panel-title">Weekly Overview</h3>
						<p class="panel-subtitle">Period: Mar 27, 2016 - Apr 03, 2016</p>
					</div>
					<div class="panel-body">
						<div class="row">
						  <div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-exclamation-circle"></i></span>
									<p>
										<span class="number">1,252</span>
										<span class="title">Issues</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-shopping-bag"></i></span>
									<p>
										<span class="number">203</span>
										<span class="title">Pull Requests</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-eye"></i></span>
									<p>
										<span class="number">274,678</span>
										<span class="title">Comments</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-bar-chart"></i></span>
									<p>
										<span class="number">35</span>
										<span class="title">Projects</span>
									</p>
								</div>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
