<div class="panel panel-headline">
  <div class="panel-heading">
    <h3 class="panel-title">Weekly Overview</h3>
    <p class="panel-subtitle">Period: Mar 27, 2016 - Apr 03, 2016</p>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-exclamation-circle"></i></span>
          <p>
            <span class="number">1,252</span>
            <span class="title">Issues</span>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-shopping-bag"></i></span>
          <p>
            <span class="number">203</span>
            <span class="title">Pull Requests</span>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-eye"></i></span>
          <p>
            <span class="number">274,678</span>
            <span class="title">Comments</span>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="metric">
          <span class="icon"><i class="fa fa-bar-chart"></i></span>
          <p>
            <span class="number">35</span>
            <span class="title">Projects</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
